<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Components</title>
  </head>
  <body>
    <div id="app">
      <child-comp />
    </div>
    <script type="module">
      import { createApp } from "../js/vue.esm-browser.js";
      import ChildComp from "./child-comp.js";
      createApp({
        components: {
          /* camel 태그 쓸때는 kebab */
          ChildComp,
        },
      }).mount("#app");
    </script>
  </body>
</html>
